@media screen and (max-width: 1190px) {
  .content {
    width: 75%;
  }
}

@media screen and (max-width: 794px) {
  .content {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    margin: 50px 30px;
    width: 100%;
    .part {
      padding: 30px;
    }
    .heading1 {
      margin-bottom: 10px;
    }
    .heading2 {
      font-size: 1rem;
      margin-bottom: 10px;
    }
    .cyan {
      border-bottom-left-radius: 0;
    }
    .light-cyan {
      grid-row: 3/4;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding-right: 50px;
    }
  }
}
