$cyan: hsl(179, 62%, 43%);
$lightCyan: hsl(179deg, 47%, 52%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

@mixin flex($flex-direction, $justify, $align) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify;
  align-items: $align;
}
